/* CSS files add styling rules to your content *//* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background: linear-gradient(to right,rgb(226, 246, 243),rgb( 135, 213, 200));
}

h1 { 
  font-style: italic;
  color: #373fff;
}

h2 {
	color : rgb(32,178,170);
	font-size : 25px;
	font-family : Didot;
}

h3 {
	color : rgb(0, 0, 205);
	font-size : 38px;
	font-family : Copperplate Gothic;
	text-decoration : underline; gras;
}

h4 { 
	color : rgb(27, 28, 113);
	font-size : 15px;
	font-family : Arial;
	text-decoration : gras; 
}

h5 {
	color : rgb(57, 153, 137);
	font-size : 15px;
	font-family : imes New Roman;
}


table {
    border-collapse: collapse; 
}

td {
    border: 1px solid black;
}


Calisto MT
rgb(164, 237, 225)